
.animated-text,
.animated-text-hover:hover {
  /*
   * Animation variables
   */
  $animationSteps: 20;
  $animationDuration: 100;
  $animationElement: span;
  $animationElementsCount: 100;
  $delayBetweenLetters: 0.2;

  /*
   * Elements settings
   */
  #{$animationElement} {
    animation-name: animated-text-keys;
    animation-duration: #{$animationDuration}s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  /*
   * Keyframe loop
   */
  @keyframes animated-text-keys {
    @for $i from 0 through $animationSteps {
      #{percentage($i * (1 / $animationSteps))} {
        color: hsla(random(365), 60, 60, 1);
      }
    }
  }

  @keyframes animated-bg-keys {
    @for $i from 0 through $animationSteps {
      #{percentage($i * (1 / $animationSteps))} {
        border-color: hsla(random(365), 60, 60, 1);
      }
    }
  }

  /*
   * Element animation delay loop
   */
  $totalDelayTime: $animationElementsCount * $delayBetweenLetters;

  @for $i from 1 through $animationElementsCount {
    #{$animationElement}:nth-of-type(#{$i}) {
      animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
    }
  }
}

span.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate(0.0deg) }
  10% { transform: rotate(10.0deg) }
  20% { transform: rotate(-5.0deg) }
  30% { transform: rotate(5.0deg) }
  40% { transform: rotate(0.0deg) }
  50% { transform: rotate(0.0deg) }
  100% { transform: rotate(0.0deg) }
}

@for $i from 0 through 20 {
  $color: random(365);
  .pill-#{$i} {
    background-color: hsla($color, 60, 60, 0.7);
    border-color: hsla($color, 60, 60, 0.3);
  }
}

.animated-border {
  animation-name: animated-bg-keys;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
